---
import Layout from "../layouts/index.astro"
---

<Layout title="@sitebender/operations">
	<header>
		<h1>@sitebender/operations</h1>
	</header>
	<main>
		<p>Documentation goes here.</p>
	</main>
</Layout>
